html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Hind, sans-serif;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  margin-bottom: 15px;
}

em,
li,
li a {
  font-size: 14px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
}

a {
  font-family: Hind, sans-serif;
  color: #81848f;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}

.link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #17bed2;
  content: " ";
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 22px;
}

::selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}




/*!!!!!!!!!! login !!!!!!!!!!!!!!1*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 15% auto 30% auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  margin-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*!!!!!!!!!! шапка !!!!!!!!!!!!!!1*/


.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom:  2px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0px;
}
#top_page{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #333; 
    border-radius: 0;
     border-bottom:  0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: black;
}

.navbar-brand {
  padding: 0px;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-brand>h3 {
  height: 100%;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
  color:  #6675e8;
  line-height: 55px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.navbar-inverse{
	background-color: rgb(255,255,255);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #2a3fde;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 12px;
  font-weight: 400;
  color: #6675e8;
  line-height: 55px;
  padding: 20px;
}

.navbar-default .navbar-nav>li>a{
  color:#f5f5f5;
}
.navbar-default .navbar-nav>li>a:hover{
  color:#d9edf7;
}
.my-li:hover{
  background:#d9edf7;
}
/*!!!!!!!!!!!!button to the catalog on the first page*/




.btn-theme {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
  outline: none;
}

.btn-theme:hover {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-theme:hover, .btn-theme:focus, .btn-theme.focus {
  text-decoration: none;
}

.btn-theme:active, .btn-theme.active {
  background-image: none;
  outline: 0;
}

.btn-theme.disabled, .btn-theme[disabled],
fieldset[disabled] .btn-theme {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.btn-white-bg {
  color: #515769;
  background: #fff;
  border-color: transparent;
  border-width: 0;
}

.btn-white-bg:hover, .btn-white-bg:focus, .btn-white-bg.focus {
  color: #fff;
  background: #2a3fde ;
  border-color: transparent;
}

.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: #fff;
  border-width: 2px;
}

.btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
  color: #515769;
  background: #fff;
  border-color: #fff;
}

.btn-default-bg {
  color: #515769;
  background: #f3f4f5;
  border-color: transparent;
  border-width: 0;
}

.btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
}

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 40px;
}

.btn-theme-md {
  font-size: 15px;
  font-weight: 600;
  padding: 20px 30px;
}




/*!!!!!!!!!!!!!!!!!!!!!!!!!!!CONTENT and Навигационная панель ДОМ/КАталог!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.breadcrumb {
  padding: 8px 15px;
  margin: 20px 0;
  list-style: none;
  background-color: white;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb > .active {
  color: #777777;
}


.promo-block {
  position: relative;
  z-index: 1;
  text-align: center;
  /*background: url('{{ STATIC_URL }}images/head.jpg') no-repeat;*/
  background-size: cover;
  background-position: center center;
  padding: 200px 0 160px;
}

.promo-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(81, 87, 105, 0.4);
  content: " ";
}
.promo-block .promo-block-title {
  font-size: 70px;
  color: #fff;
}

@media (max-width: 480px) {
  .promo-block .promo-block-title {
    font-size: 50px;
  }
}

.promo-block .promo-block-text {
  font-size: 25px;
  color: #fff;
}



#wrapper{
  margin-top: 100px;
}

#sidebar a{
  color: white;
  font-size: 3em;
  font-family: Hind, fantasy;
}


#sidebar a:hover{
  font-size: 3em;
  color: #2a3fde;
  font-family: Hind, fantasy;
}

.well{
  padding: 150px 0; 
  text-align: center;
  border-radius: 15px;
}

.well a{
  color: white;
  font-size: 3em;
  font-family: Hind, fantasy;
}
.well a:hover{
  font-size: 3em;
  color: #2a3fde;
  font-family: Hind, fantasy;
}

#featured .category-product .well{
  height: 250px;
}
#sidebar{
 height: 620px;
 padding: 310px 0; 
text-align: center;
border-radius: 15px;

}

.well{
  height: 300px;
}

#logo, #header-content,
#featured .category-product, #sidebar,
#footer .menu-footer {
  margin-bottom: 20px;
}



/*!!!!!!!!!!!!!!!!!!!!!  footer  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.footer {
 background:#333;
 padding:50px 0;
 border-top:2px solid orange;
 

}
.widget h2 {
 cursor:pointer;  
 font-size:18px;
 font-weight:bold;
 padding-bottom:5px;
 color: #f5f5f5;
}
.footer-bottom {
 background:#080808;
 padding:15px 0;
 border-top:1px solid #d9d9d9;
 font-size:11px;
 color:#777;
}
  
@media only screen and (max-width: 479px) {    
     .widget_content{
        display:none;
    }
    .active .widget_content{
      display:inline; 
    }
    .widget h2 { 
        border-bottom:1px solid #ddd;
    }   
    .widget h2:after {
        content:"\203A";
        color:white;
        width:20px;
        height:20px;
        background:#999;
        display:inline-block;
        text-align:center;
        float:right;
    }
    .active.widget h2:after {
        content:"\2039";    
        background:#ccc;
    }
}


/*общий список товаров*/


.top{
  padding: 20px 0;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.top-bl{
  background: #bebebe;
  padding: 15px;
}
.top-bl .cart{
  float: right;
}
#sidebar-list{
  /*background-color:#d9edf7;*/
  background-color:#f3eeee; 
}
#sidebar-list ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#sidebar-list ul li{
  padding: 5px 10px;
}
#sidebar-list ul li.selected{
  background: #0095ff;
  color: white;
  border-radius: 3px;
}
#sidebar-list ul li.selected a{
  color: white;
}
.items{
  margin-top: 20px;
  padding: 0 3%;
}
.item{
  text-align: center;
  margin-bottom: 30px;
}
.item a img{
  display: block;
  text-align: center;
}
.product-detail{
  margin-top: 10%;
  margin-bottom: 60%;
}
.price{
  font-weight: 600;
  font-size: 20px;
}
.product-detail h2{
  font-size: 18px;
}
form.add{
  margin-bottom: 10px;
}
form.add label{
  margin-right: 10px;
}
#id_quantity{
  padding: 5px 10px;
  border-radius: 3px;
}
form.add input[type="submit"]{
  background: #2a6496;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  color: white;
}
.table-cart{
  width: 100%;
  margin: 10px 0;
}
.cart-img{
  width: 10%;
}
th, td{
  padding: 5px;
}
thead{
  background: #2a6496;
  color: white;
}
.btn{
  background: #2a6496;
  color: white;
}
.btn-light{
  background: #808080;
}
.order-info h2{
  margin-bottom: 20px;
}
.order-form{
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-form label{
  display: block;
}
.order-form input{
  width: 100%;
  padding: 5px 10px;
}
.section_list{
  margin-bottom: 10%;
}
.filter{
  background-color: #333;
  padding: 0.7em 0 0.2em 0;
  text-align: center;
  margin-bottom: 5%;
}
.form-group > label{
    color: black;
  font-size: 16px;
  font-family: Hind, serif;
}
.filter > h3{
  color: white;
  font-size: 16px;
  font-family: Hind, serif;
}
.btn-filter{
  max-width: 100px;
  margin: 10% auto 8% auto;
}

.product{
    vertical-align: top;
    margin: 0 0 15px;
    border: 1px solid #F5F5F5;
    min-height: 385px;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.product:hover{
  box-shadow: 0 0 12px #888888;
  -webkit-box-shadow: 0 0 12px #888888;
  -moz-box-shadow: 0 0 12px #888888;
  box-shadow: 0 0 12px #888888;
}
.product_info{
  width: 100%;
  text-align: center;
  background-color: #f3eeee;
  bottom: 0;
  position: absolute;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
#filter-name{
  background-color: #d9edf7;
}
.item .name a{
  line-height: 12px;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #252525;
  min-height: 30px;
}
.item .price{
  display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    min-height: 30px;
    color: rgba(0,0,0,.84)!important;
    padding-left: 4px;
    border-bottom: 1px solid #e5e5e5;
}
.item .price+div{
    border-top: 1px solid #FFF;
}
.item .product_buttons{
    float: left;
    height: 40px;
    width: 95%;
    padding-top: 12px;
    padding-left: 8px;
    margin-bottom: 12px;
    display: block;
}
.item .product_buttons .cart{
  float: left;
  background-color: #141414!important;  
  padding: 5px;
  color: #F2F2F2!important;
  width: 100px;
  height: 32px;
  display: block;
  border-radius: 2px;
  color: #cccce0;
  text-decoration: none;
  font-size: 12px;
  line-height: 23px;
  opacity: 1;
  transition-duration: .4s;
}


.item .product_buttons .stars{
  float: right;
  background-color: #141414!important;  
  padding: 5px;
  color: #F2F2F2!important;
  width: 40px;
  height: 32px;
  display: block;
  border-radius: 2px;
  color: #cccce0;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
  transition-duration: .4s;
}
.item .product_buttons .stars-add{
  float: right;
   padding: 5px;
  color: yellow!important;
  width: 40px;
  height: 32px;
  display: block;
  border-radius: 2px;
  border: 1px solid #000000;
  color: #cccce0;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  opacity: 1;
  transition-duration: .4s;
}

hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
   }
/*!!!!!LOOOP!!!!!!!!!*/


/*!!!!!carousel!!!!!!!!!*/
.slide{
}
.owl-carousel  .owl-next{
  margin-left: 50%;
  width: 10%;
  /*background-color: #f3eeee;*/
  font-size: 3em;
}
.owl-carousel  .owl-prev{
  float: left;
  width: 10%;
  margin-left: 40%;
  font-size: 3em;
}
.owl-nav{
  text-align: center;
}
.owl-carousel{
  padding-right: 60px;
  padding-left: 60px;
  margin:60px auto;
}
.name > h1,h2,h3{
  text-align: center;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!profile!!!!!!!!!!!!!!1*/
table {
    table-layout: fixed;
    width:100%
}
td {
    word-wrap:break-word;
}
.form-about {
  max-width: 430px;
  margin: 5% auto 5% auto;
}
.form-about .form-signin-heading,
.form-about .checkbox {
  margin-bottom: 10px;
}

.form-about .checkbox {
  font-weight: normal;
}
.form-about .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-about .form-control:focus .form-control:focus {
  z-index: 2;
}
.form-about input {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.contact-form {
  background-color: #d9edf7;
}
