{% extends "mainpage/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  Оформление заказа
{% endblock %}


{% block content %}

  <ul class="breadcrumb">
      <li><a href="{% url 'mainpage:PostList' %}"><span class="glyphicon glyphicon-home"></span>Главная страница</a></li>
      <span class="divider"> / </span>
      <li><a href="">Заказ</a></li>
      <span class="divider"> / </span>

  </ul>

<section id="content row" class="container">




  <h2>Оформление заказа</h2>
  <div class="col-sm-4">
    <h2>Заполните форму</h2>
    <form class="order-form" action="." method="post">
    

      {{ form.as_p }}
      {{ formset.form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Отправить">
    </form>
  </div>



<div class="container">
  <h2>Ваш заказ</h2>
<div class="col-sm-6 col-sm-offset-1 ">
<div class="table-responsive">
  <table class="table" >
    <thead>
      <tr>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
          </tr>
      {% endfor %}
</tbody>
</table></div></div>


  </section>
{% endblock %}
