{% load crispy_forms_tags %}\
{% load staticfiles %}
{% load i18n %}
<section >
<div  id="logo" class="container-fluid contact-form" style="background: url('{% static 'images/noski.svg'%}') repeat; background-size: 150px 150px;">
<h2 id="feedback">Свяжитесь с нами!</h2>
	<form role="form" action="" method="post" id="post-form" class="form-about">
	
    {% csrf_token %}
    {% for field in form %}
    	{{ field }}
	{% endfor %}
	<br>
    <button type="submit" class=" btn btn-theme btn-theme-md btn-white-bg text-uppercase" style="text-align: right;">Отправить</button>
</form>
</div>

</section>
