<div class="footer">
    <div class="container">
    	<div class="row">
<!--     		<div class="col-md-5 widget">
        	    <h2 style="text-align: left;">Статьи</h2>
                <article class="widget_content">
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
                        <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</li>
                        <li>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </li>
                        <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                 </ul>
                 </article>
    		</div> -->
            <div class="col-md-3 widget">
        	    <h2 style="text-align: left;">Ссылки</h2>
                <article class="widget_content">
                    <ul class="social-share">
                    <li style="list-style-type: none;">
                    <a href="#"><i style="font-size: 40px;" class="fa fa-vk"></i></a>    
                    </li>
                    <li style="list-style-type: none;">
                    <a href="https://www.instagram.com/noski39/"><i style="font-size: 40px;" class="fa fa-instagram"></i></a>   
                    </li>
                    <li style="list-style-type: none;">
                    <a href="#"><i style="font-size: 40px;" class="fa fa-skype"></i></a>
                    </li>
                 </article>
    		</div>
            <div class="col-md-4 widget">
                <h2 style="text-align: left;">Связаться с нами</h2>
                <article class="widget_content">
                    <p>Россия, Калининград,<br> Театралная улица, 236000<br>Телефон: +7 899 800 *55</p>
                </article>
    		</div>
    	</div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
    		<div class="col-md-12 widget">© 2017 | noski-platki.ru  <span class="pull-right"> </span>
            </div>
        </div>
    </div>
</div>