{% extends 'mainpage/base.html' %}


{% block content %}
<div class="promo-block" >
    <div class="container" >
      <div id="margin-b-40">
        <h1 class="promo-block-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
        <p><a class=" btn btn-theme btn-theme-md btn-white-bg text-uppercase" href="{% url "catalog:search" %}" role="button">Купить</a></p>
      </div>
  </div>
</div>
<div class="clearfix"></div>



<div id="wrapper" class="container">
  
  <div  class="row">
    <div  class="col-sm-4 col-md-4  col-lg-4">
      <div class="row">
        <div class="category-product col-sm-12 col-md-4 col-lg-12"><div class="well well-1"><a href="{% url "catalog:search" %}">ЖЕНСКИЕ НОСКИ</a></div></div>
        <div class="category-product col-sm-12 col-md-4 col-lg-12"><div class="well well-2"><a href="{% url "catalog:ProductListByCategory" category_slug='platki' %}">ПЛАТКИ</a></div></div>
      </div>
    </div>
    <div  class="col-sm-4 col-md-4  col-lg-4">
      <div class="row">
        <div class="category-product col-sm-12 col-md-4 col-lg-12"><div   id="sidebar"><a href="{% url "catalog:ProductListByCategory" category_slug='novinki' %}">НОВИНКИ</a></div></div>
      </div>
    </div>
    <div  class=" col-sm-4 col-md-4  col-lg-4">
      <div class="row">
        <div class="category-product col-sm-12 col-md-4 col-lg-12 "><div class="well well-3"><a href="{% url "catalog:ProductListByCategory" category_slug='muzhskie-noski' %}">МУЖСКИЕ НОСКИ</a></div></div>
        <div class="category-product col-sm-12 col-md-4 col-lg-12"><div class="well well-4"><a href="{% url "catalog:ProductListByCategory" category_slug='akcii' %}">АКЦИИ</a></div></div>
      </div>
    </div>
  </div>

</div>

{% block carousel %}
  {% include "mainpage/carousel.html" %}
{% endblock %}

{% block feedback %}
  {% include "mainpage/feedback.html" %}
{% endblock %}

{% endblock %}