{% extends 'mainpage/base.html' %}
{% block content %}
<div class="news-detail" style="margin: 10%;">
	<h2>Дорогие друзья!</h2>
<h3>Благодарим вас за интерес к продукции ООО «Аля-Рус».</h3>
<p>
	 Приглашаем посетить наш каталог. Мы приготовили для вас отличный выбор качественных шерстяных изделий, которые обязательно понравятся и вам, и вашим покупателям. Выбирайте, формируйте заказ. Мы, в свою очередь, сделаем все, чтобы вы получили его как можно быстрее. На этой странице вы узнаете:
</p>
<ul>
	<li>как стать нашим партнером и оформить заказ;</li>
	<li>как оплатить заказ;</li>
	<li>как осуществляется доставка.</li>
</ul>
<p>
	 Если у вас есть вопросы, обращайтесь, мы обязательно на них ответим.
</p>
<p>
 <b>Мы всегда рады новым партнерам!</b>
</p>
<h3>Как оформить заказ</h3>
<p>
 <strong>Оформление заказа происходит в несколько этапов.</strong>
</p>
<p>
 <strong>1-й этап</strong>
</p>
<ul>
	<li> Сначала вам следует зарегистрироваться в качестве партнера. В верхнем правом углу сайта находится иконка «Вход». Кликнув по ней, вы окажетесь на странице, где вам предложат авторизироваться, зарегистрироваться или войти в качестве пользователя одного из указанных сервисов.</li>
	<li>Для регистрации укажите в открывшемся окне свои имя и фамилию, придумайте логин и пароль, напишите адрес электронной почты. </li>
	<li>На указанный адрес придёт письмо с кодом для подтверждения регистрации (если письма долго нет, проверьте спам). Пройдите по ссылке и активируйте свой аккаунт. </li>
	<li>После этого вы сможете авторизироваться и зайти в свой личный кабинет. Здесь можно редактировать свою контактную информацию, управлять заказами – повторять или отменять, проверять их статус (принят, ожидается оплата, оправлен), редактировать. </li>
</ul>
 <a name="tops"></a>
<p>
 <strong>2-й этап</strong>
</p>
<ul>
	<li>После авторизации вам будут доступны оптовые цены. Это предложение ориентировано на бизнес, на тех, кто занимается торговлей. </li>
	<li>Оптовым считается заказ сумму от 30 000 рублей. Вы можете заказать любые артикулы и размеры, но количество пар по каждой позиции должно быть кратным 10. <br>
	 Например, это может быть: <br>
	 1) 50 пар женских носков определенного артикула в одном размере, <br>
	 2) 40 пар этого же артикула в другом размере, <br>
	 3) 120 пар мужских носков одного артикула или 2-х артикулов по 60 пар, <br>
	 4) 90 пар детских носков (3 артикула по 30 пар). </li>
	<li>Для групп совместных закупок и других заказчиков, которые не могут выкупить оптовую партию, у нас есть «мелкооптовое предложение». </li>
	<li>Мелкооптовой считается партия на сумму не менее&nbsp;10 000 рублей. Вы можете заказывать любое количество пар каждой позиции, но ее цена увеличивается на 5 руб. Такие условия связанны с особенностями производства. На набор поштучных заказов требуется в несколько раз больше времени, увеличиваются затраты на оплату труда наборщиков. Мелкие заказы не окупают стоимость наших транспортных расходов. </li>
	<li>Итак, выбирайте в Каталоге интересующий вас товар, откладывайте его в корзину и начинайте оформлять предварительный заказ. </li>
	<li>Конечная стоимость вашего заказа будет напрямую зависеть от того, какую партию продукции вы покупаете. Чем больше сумма закупки, тем большую скидку вы получите. </li>
	<li>Скидки предоставляются при заказе на сумму от 50 тыс. рублей. Наиболее выгодные цены мы предлагаем тем, кто заказывает товар на сумму более 200 тыс. рублей. </li>
	<li>Размеры продукции ООО "Аля-Рус" соответствует следующим размерам обуви: 23-25, 26-28, 29-31, 32-34, 35-37, 38-40, 41-43, 44-46. Вы можете выбрать любой размерный ряд, в любом количестве. </li>
	<li>Упаковка товара и доставка до транспортной компании входит в общую стоимость. После того как предварительный заказ сформирован, наши сотрудники проверяют, все ли позиции есть на складе. Если вам требуется сравнительно небольшая партия, но каких-то моделей в данный момент нет, мы можем их по вашему заказу в сжатые сроки связать. </li>
	<li>Если вы будете работать с нами на особых условиях, вам будут предложены индивидуальные цены. Звоните, пишите, мы подробно обсудим этот вопрос. </li>
</ul>
<p>
 <strong>3-й этап</strong>.
</p>
<p>
	 Мы согласовываем с Вами окончательный состав заказа и выставляем счёт. Точную сумму, которую вам следует оплатить за ваш товар, вы увидите в своем личном кабинете. На реализацию товар мы не предоставляем. При оформлении заказа выберите, пожалуйста, наиболее удобные для вас способы оплаты и доставки заказа.
</p>
<h3>Оплата</h3>
<p>
	 Мы предлагаем вам несколько вариантов оплаты. Услуги по доставке товара оплачиваются в момент получения товара, непосредственно транспортной компании.
</p>
<p>
 <strong>Наличный расчет. </strong>Если вы самостоятельно вывозите товар, можете рассчитаться за него наличными в нашем офисе. Вам будет предоставлена вся необходимая бухгалтерская документация.
</p>
<p>
 <strong>Безналичный расчет. </strong>После оформления заказа мы по электронной почте высылаем физическим лицам квитанцию, юридическим лицам – счет. Клиенты физические лица могут распечатать полученную квитанцию и оплатить ее в любом банке. Юридические лица производят оплату счета безналичным банковским переводом.
</p>
<p>
 <strong>Оплата на карту Сберегательного Банка РФ. </strong>Вы можете произвести оплату на карту Сберегательного Банка РФ.
</p>

<h3>Доставка</h3>
 Отгрузка товара происходит в течение 5-7 рабочих дней с момента поступления оплаты. Если вы не можете самостоятельно забрать ваш заказ, мы тщательно его упакуем и отправим в ваш город транспортной компанией. Мы работаем со следующими перевозчиками:
<ul>
	<li>Служба доставки грузов «ЖелДорЭкспедиция» ;</li>
	<li>Транспортная Компания «ПЭК» ;</li>
	<li>Транспортная Компания «Деловые Линии» ;</li>
	<li>Транспортная Компания «Байкал-Сервис» (предоставляет нашим клиентам скидку на доставку заказов 10%);</li>
	<li>Транспортная Компания "КИТ" (отправка груза осуществляется раз в неделю -&nbsp;по средам).</li>
</ul>
<p>
	 Ваш заказ будет доставлен непосредственно до дверей вашего склада или офиса. Стоимость услуг транспортных компаний вы можете узнать на их сайтах. Небольшие партии товара мы можем отправить Почтой России по указанному вами адресу. Вместе с товаром вы получите полный пакет необходимой документации: договор, накладную, счет-фактуру, транспортную накладную, сертификат и декларацию соответствия.
</p>
<p>
 <strong>В разделе Контакты вы узнаете, как можно с нами связаться. Если есть вопросы и пожелания, звоните нам или пишите.</strong>
</p>
<p>
 <strong>Мы всегда найдем общий язык, сможем договориться!</strong>
</p>
<p>
 <b>Электронная почта</b>: <a href="#">ala-rus39@mail.ru</a>
</p></div>
{% endblock %}