{% extends "mainpage/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" >
{% if form.errors %}
<p>{% blocktrans %}Возможно email или логин уже существует или введеные вами пароли не совпадают. {% endblocktrans %}</p>
{% endif %}
<form class="form-signin" method="post" action=".">
 <h2 class="form-signin-heading">Регистрация</h2>
  {% csrf_token %}
{% for field in form %}
    {{ field }}
{% endfor %}


  <input type="submit" class="btn btn-lg btn-primary btn-block btn-auth"  value="{% trans 'Зарегестрироваться' %}" />
</form>
</div>
{% endblock %}
